* {
    margin: 0;
}
.navbar{
    display: flex;
    justify-content:space-between;
    background-color: #F8FBFC;
}
.logo{
    margin-left: 140px;
    padding: 40px 0px;
    font-family: 'Poppins', sans-serif
    font-weight 500;
}
.menu{
      padding: 40px 0px;
      font-family: 'Poppins', sans-serif
}
.menu ul {
    display: flex;
}
.menu ul li {
list-style: none;
margin-right: 70px;
font-family: 'Poppins', sans-serif
}
.menu ul li:last-child{
margin-right: 0px;
}
.menu ul li a{
    text-decoration: none;
    color: #1F2E4B;
}
.reservationBtn{
    font-size: 24px;
    background: #9305ff;
    padding: 0 70px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.banner-part{
    display: flex;
}
.banner-partLeft{
width:50%;  
}
.banner-partRight{
    width: 50%;
    }
.banner-partRight img{
        width: 100%;
    }
.banner-text{
 font-family: 'Poppins', sans-serif;
 font-weight: 700;
 font-size:60px;
 color: #1F2E4B;
 line-height: 80px;
 font-style: normal;
}
.bannerLeftTitle{
margin: 120px 0 0 160px;
}
.banner-description{
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    font-size: 20px;
}
